*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: $roboto;
  font-weight: 400;
  background-color: $color-background;

  &.js-noScroll {
    overflow-y: hidden;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
