// colors

$color-primary: #3c6e71;
$color-primary-dark: #0f4c5c;
$color-primary-darker: #133b5c;
$color-primary-black: #1b2a49;

$color-secondary: #f2b84b;
$color-secondary-light: #e8d1a7;

$color-white: #fff;

$color-gray-1: #d8d8d8;
$color-gray-2: #b0b0b0;
$color-gray-3: #797a7e;
$color-gray-4: #41444b;

$color-white: #fff;

$color-background: #f2f2f2;

$color-background-dark: #202135;

// Fonts
$gothic: "Gothic A1", sans-serif;
$roboto: "Roboto", sans-serif;
$monserat: "Montserrat", sans-serif;
